:root {
    --teal: #229b87;
    --orange: #f45d48;
    --darker-orange: #a03a2d;
    --white: #fffffe;
    --dark-gray: #232323
}


  a {
    font-size: 35px !important;
    color: var(--orange);
    text-decoration: none;
  }

  a:hover {
      color: var(--darker-orange);
  }

  header {
      text-align: center;
      font-size: 50px;
  }

  #title {
      padding: 4%;
      background-color: var(--teal);
      background: rgb(25,112,98);
      background: linear-gradient(0deg, rgba(25,112,98,1) 0%, rgba(34,155,135,1) 100%);
  }

  h3 {
    font-size: 50px;
    text-align: left;
  }

 