:root {
    --teal: #29b5c6;
    --old-blue: #578182;
    --darker-old-blue: #2a3d3d;
    --white: #fffffe;
    --dark-gray: #737373;
}


  a {
    font-size: 35px !important;
    color: var(--old-blue);
    text-decoration: none;
  }

  a:hover {
      color: var(--darker-old-blue);
  }

  header {
      text-align: center;
      font-size: 50px;
  }

  #title {
      padding: 4%;
      background-color: var(--teal);
      background: var(--teal);
    
  }

  h3 {
    font-size: 50px;
    text-align: left;
    color: var(--dark-gray) !important;
  }

 
 